# COVID-19 Analysis
Data Source: https://www.kaggle.com/imdevskp/corona-virus-report/data

In [14]:
#Importing pandas
import pandas as pd

In [15]:
#Reading in dataset
df = pd.read_csv("covid_19_clean_complete.csv")

In [16]:
#Displaying first 5 rows
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0

In [17]:
#Some statistics
df.describe()

                Lat          Long      Confirmed        Deaths     Recovered
count  20097.000000  20097.000000   20097.000000  20097.000000  20097.000000
mean      21.456103     22.498687     939.883415     43.936209    237.740061
std       24.785703     70.688043    8947.804002    529.758898   2716.925123
min      -51.796300   -135.000000       0.000000      0.000000      0.000000
25%        7.000000    -19.020800       0.000000      0.000000      0.000000
50%       23.685000     20.902977       1.000000      0.000000      0.000000
75%       41.204400     81.000000      69.000000      0.000000      2.000000
max       71.706900    178.065000  396223.000000  17127.000000  64073.000000

In [18]:
#More soonTM...